<div class="alert alert-danger" role="alert">
  <%# TODO: show errors %>
  <strong><%= t('common.attention_alert') %></strong> <%= t('delete_error', scope: 'activerecord.errors.models.technical_service') %>
</div>
