<div class="card">
  <div class="card-header data-header">
    <div class="title"><%= t('.header') %></div>

    <div>
      <%= link_to new_technical_service_path, class: 'btn btn-sm btn-primary', data: { toggle: 'tooltip', title: t('.tooltip.new') } do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div id="technical-services-table-container">
      <%= render 'technical_services_table' %>
    </div>
  </div>
</div>
