---
http_interactions:
- request:
    method: patch
    uri: https://ucrm-testing.ksys.com.ar/api/v1.0/clients/3
    body:
      encoding: UTF-8
      string: '{"userIdent":"888","organizationId":2,"countryId":93,"zipCode":"3000","street1":"221b
        baker street","street2":"221C","note":"Some observation","firstName":"JON","lastName":"WASSON","clientType":1,"attributes":[{"customAttributeId":1,"value":"76988455"}]}'
    headers:
      Content-Type:
      - application/json
      X-Auth-App-Key:
      - "<UCRM_APP_KEY>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: UTF-8
      string: '{"code":422,"message":"Validation failed.","errors":{"userIdent":["Este
        ID de cliente ya existe en nuestro sistema."]}}'
  recorded_at: Wed, 06 Feb 2019 16:23:32 GMT
recorded_with: VCR 4.0.0
