---
http_interactions:
- request:
    method: get
    uri: https://ucrm-testing.ksys.com.ar/api/v1.0/clients/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-App-Key:
      - "<UCRM_APP_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"id":3,"userIdent":"221","previousIsp":null,"isLead":false,"clientType":1,"companyName":null,"companyRegistrationNumber":null,"companyTaxId":null,"companyWebsite":null,"street1":"221B
        Baker Street","street2":"2B","city":"London","countryId":26,"stateId":null,"zipCode":"W3402BKL","invoiceStreet1":null,"invoiceStreet2":null,"invoiceCity":null,"invoiceStateId":null,"invoiceCountryId":null,"invoiceZipCode":null,"invoiceAddressSameAsContact":true,"note":"Alguna
        observaci\u00f3n","sendInvoiceByPost":null,"invoiceMaturityDays":null,"stopServiceDue":null,"stopServiceDueDays":null,"organizationId":1,"tax1Id":null,"tax2Id":null,"tax3Id":null,"registrationDate":"2019-02-02T00:00:00-0300","companyContactFirstName":null,"companyContactLastName":null,"isActive":false,"firstName":"John","lastName":"Watson","username":"j.watson@sherlock.com","contacts":[{"id":3,"clientId":3,"email":"j.watson@sherlock.com","phone":"+5493794298093","name":"John
        Watson","isBilling":true,"isContact":true,"types":[{"id":1,"name":"Billing"},{"id":2,"name":"General"}]}],"attributes":[{"id":3,"clientId":3,"customAttributeId":1,"name":"DNI","key":"dni","value":"76988456"},{"id":4,"clientId":3,"customAttributeId":2,"name":"CUIT","key":"cuit","value":"27347188811"}],"accountBalance":0,"accountCredit":0,"accountOutstanding":0,"currencyCode":"ARS","organizationName":"Ksys","bankAccounts":[],"tags":[],"invitationEmailSentDate":null,"avatarColor":"#ff9800","addressGpsLat":null,"addressGpsLon":null,"isArchived":false}'
  recorded_at: Tue, 05 Feb 2019 04:57:18 GMT
recorded_with: VCR 4.0.0
