---
http_interactions:
- request:
    method: get
    uri: https://ucrm-testing.ksys.com.ar/api/v1.0/clients/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-App-Key:
      - "<UCRM_APP_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Clacks-Overhead:
      - GNU Terry Pratchett
    body:
      encoding: ASCII-8BIT
      string: '{"id":2,"userIdent":"888","previousIsp":null,"isLead":false,"clientType":1,"companyName":null,"companyRegistrationNumber":null,"companyTaxId":null,"companyWebsite":null,"street1":"221B
        Baker Street","street2":null,"city":"London","countryId":26,"stateId":null,"zipCode":"W3402BKL","invoiceStreet1":null,"invoiceStreet2":null,"invoiceCity":null,"invoiceStateId":null,"invoiceCountryId":null,"invoiceZipCode":null,"invoiceAddressSameAsContact":true,"note":null,"sendInvoiceByPost":null,"invoiceMaturityDays":null,"stopServiceDue":null,"stopServiceDueDays":null,"organizationId":1,"tax1Id":null,"tax2Id":null,"tax3Id":null,"registrationDate":"2019-02-01T00:00:00-0300","companyContactFirstName":null,"companyContactLastName":null,"isActive":false,"firstName":"Sherlock","lastName":"Holmes","username":"sherlock@holmes.com","contacts":[{"id":2,"clientId":2,"email":"sherlock@holmes.com","phone":null,"name":"Sherlock","isBilling":true,"isContact":true,"types":[{"id":1,"name":"Billing"},{"id":2,"name":"General"}]}],"attributes":[],"accountBalance":0,"accountCredit":0,"accountOutstanding":0,"currencyCode":"ARS","organizationName":"Ksys","bankAccounts":[],"tags":[],"invitationEmailSentDate":null,"avatarColor":"#00838f","addressGpsLat":null,"addressGpsLon":null,"isArchived":false}'
  recorded_at: Sun, 03 Feb 2019 18:54:42 GMT
recorded_with: VCR 4.0.0
