<li class="page-item">
  <%= link_to url, rel: 'prev', remote: remote, class: "page-link#{ current_page.first? ? ' disabled' : '' }" do %>
    <i class="fa fa-caret-left fa-lg"></i>
  <% end %>
</li>
