$color-blue: rgb(32, 168, 216);
$color-green: rgb(77, 189, 116);
$color-gray-700: rgb(92, 104, 115);
$color-gray-600: rgb(115, 129, 143);
$color-gray-300: rgb(200, 206, 211);
$color-gray-100: rgb(240, 243, 245);

$color-light-blue-alpha: rgba(99, 194, 222, .3);

$color-table-border: #c8ced3;

$color-blue-account: rgb(32, 120, 200);
$color-gray-account: $color-gray-700;
