.app-header .nav-item .nav-link > .img-avatar {
  margin: 0 5px;
}

.form-section {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: rgb(32, 168, 216);

  i.fa {
    color: rgb(115, 129, 143);
  }
}

input.mask-time {
  text-align: right;
}

.form-check-inline-align {
  display: flex;
  align-items: flex-start;

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
}
