@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: local('Lato'), url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: local('Lato'), url('../fonts/Lato-Bold.ttf') format('truetype');
}

body {
  font-family: Lato, sans-serif;
}

img.brand-logo-full {
  width: 450px;
  height: 55px;
  margin-bottom: 30px;
}
