<%= link_to perform_billing_export_path(@billing_export), id: 'btn-perform', class: 'btn btn-success', data: { turbolinks: false }, method: :post, remote: true do %>
  <i class="fa fa-money"></i> <span><%= t('.perform') %></span>
<% end %>

<%# <%= link_to download_csv_billing_export_path(@billing_export), class: 'btn btn-success', data: { turbolinks: false } do %1> %>
<%#   <i class="fa fa-download"></i> <%= t('.download_csv') %1> %>
<%# <% end %1> %>
