<div id="job-status-container">
  <div style="display: none" class="flexible">
    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
    <span id="job-status-text" class="status-text"> Iniciando...</span>
  </div>
</div>

<div id="action-container">
  <button id="btn-save-invoices" disabled class="btn btn-primary" type="submit" data-disable-with="<%= t('.export.title_disabled') %>"><%= t('.export.title') %></button>
</div>
